[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User={{ username }}
Group=www-data
WorkingDirectory=/home/{{ username }}/django_site
ExecStart=/home/{{ username }}/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          azure_website.wsgi

[Install]
WantedBy=multi-user.target